
<style>
  .CodeMirror {
        float: left;
				height: 100%;
        border: 0px ;
      }
      iframe {
        width: 100%; height:100%;
        
        /*height: 400px;*/
		background-color:#F0F0F0;
		border:none;
		border-radius:4px;
      }
  
  [role="tabpanel"] {
  transition: none;
}

  md-tab-data{
  opacity: 1;
  display: table;
  right: 0;
  left: initial;
  z-index: 20;
}
  
	
	section {
    box-sizing: border-box;
    padding-top: 0;
		min-width: 450px;
    border: $spacing/2 solid #fff;
		
    &.resizable {
        flex: 0 0 300px;
    }
}
	md-tab-content {
overflow: hidden;
	}
	
	
	
</style>

<div layout="column" style="">

		<!-- ANGULAR MATERIAL SIDENAV LEFT -->
  <md-sidenav md-component-id="left" class="md-sidenav-left" >
      <md-toolbar style="background:#1E8BC3;">
        <h1 class="md-toolbar-tools"></h1>
      </md-toolbar>
     <md-content>
      <md-list flex>
        <!--md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader-->
        <md-list-item class="md-2-line" ng-click="goHome()" >
					<i class="material-icons md-avatar" >home</i>
          <div class="md-list-item-text" layout="column"><h3>Home</h3></div>
        </md-list-item>
			<md-divider ></md-divider>
        <md-list-item class="md-2-line" ng-click="goPage()">
					<i class="material-icons md-avatar" >assignment</i>
          <div class="md-list-item-text" layout="column"><h3>View page</h3></div>
        </md-list-item>
				        <md-subheader class="md-no-sticky">Edit</md-subheader>

        <md-list-item class="md-2-line" ng-click="goEdit()">
					<i class="material-icons md-avatar" >assignment</i>
          <div class="md-list-item-text" layout="column"><h3>Edit page</h3></div>
        </md-list-item>

			 </md-list>
		</md-content>
  </md-sidenav>
<!--/sidenav-->


  <md-content style=" height:100vh">

<!-- ANGULAR MATERIAL toolbar -->
    <md-toolbar class="" style="position: fixed; background:#1E8BC3; color:#fff" >
      <div class="md-toolbar-tools">
				
				
        <md-button ng-click="openLeftMenu()" class="md-icon-button" aria-label="Settings">
          <i class="material-icons">menu</i>
        </md-button>
			<h1>
          <span>kidmade - {{pageId}}</span>
        </h1>


			<span flex></span>
		


			<md-menu md-position-mode="target-right bottom" md-offset="0 10">
	        <md-button class="md-hue-2"  ng-click="openMenu($mdOpenMenu, $event)">
						<md-icon class="material-icons">person</md-icon>
        </md-button>

      <md-menu-content width="3">
        <md-menu-item ng-show="!user.local">
          <md-button ng-click="goProfile()">          
						<md-icon class="material-icons">person</md-icon>Sign up
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="user.local">
          <md-button ng-click="goProfile()">          
						<md-icon class="material-icons">person</md-icon>Profile
          </md-button>
        </md-menu-item>
				<md-menu-divider></md-menu-divider>
        <md-menu-item ng-show="!user.local">
          <md-button href="/logout" target="_self">
						<md-icon class="material-icons">exit_to_app</md-icon>Exit demo
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show="user.local">
          <md-button href="/logout" target="_self">
						<md-icon class="material-icons">exit_to_app</md-icon>Logout
          </md-button>
        </md-menu-item>
				</md-menu-content>

				</md-menu>	
			</div>

			<!-- /ANGULAR MATERIAL TOOLBAR -->
</md-toolbar>	

  <md-content style=" margin-top: 65px;  height:calc(100vh - 65px)">

		<div layout-gt-sm="row" layout="column" style="height:100%">
			<section id="one" resizable r-directions="['right']" style="height:100%" >

				
									


				
    <md-tabs md-stretch-tabs="auto"  md-border-bottom md-selected="selectedTabIndex" style=" width:100%;  min-height:100% !important;">
			<!--md-menu md-position-mode="target-right bottom" md-offset="0 10">
	        <md-button class="md-hue-2"  ng-click="openMenu($mdOpenMenu, $event)">

          <div class="valign-center ">
					<i class="material-icons">add</i>
					</div>				
        </md-button>
      <md-menu-content width="3">
        <md-menu-item>
          <md-button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"  name="test">          
						<md-icon class="material-icons">photo</md-icon>Image
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button href="/logout" target="_self"  disabled="disabled">
						<md-icon class="material-icons">insert_drive_file</md-icon>Page
          </md-button>
        </md-menu-item>
        <md-menu-item>
          <md-button href="/logout" target="_self"  disabled="disabled">
						<md-icon class="material-icons">code</md-icon>Library
          </md-button>
        </md-menu-item>
				</md-menu-content>
    </md-menu>	
            <md-button class="md-primary md-raised" ng-click="updateHtml()">Save</md-button-->

			
		
		
			    <md-tab label="index.html" style="height: 100%" ng-click="changeTab(0)">
						
			<md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right">
				<md-fab-trigger>
					<!--md-button aria-label="menu" class="md-fab md-warn" ng-click="showAssignment($event)"-->
					<md-button aria-label="menu" class="md-fab md-warn"  ng-click="updateHtml($event)" >
						<md-icon class="material-icons wi">save</md-icon>
					</md-button>
				</md-fab-trigger>
			</md-fab-speed-dial>							
						
        <md-card style=" margin:0;height:100% ">
    
                  <label class="control-label" for="textarea2"></label>
										  <textarea ui-codemirror="cmOption" ng-model="theHtml" style="height: 100%;"></textarea>

								<!--md-card-actions layout="row" layout-align="end center">					
          					<md-button  class="md-primary md-raised" ng-click="updateHtml()">update</md-button>
							</md-card-actions-->
              </md-card>
      </md-tab>
      
      <md-tab label="style.css" ng-click="changeTab(1)">
				
			<md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right">
				<md-fab-trigger>
					<!--md-button aria-label="menu" class="md-fab md-warn" ng-click="showAssignment($event)"-->
					<md-button aria-label="menu" class="md-fab md-warn"  ng-click="updateHtml()" >
						<md-icon class="material-icons wi">save</md-icon>
					</md-button>
				</md-fab-trigger>
			</md-fab-speed-dial>					
				
        <md-card style="height:100%; width:100%; margin:0;">
    
                  <label class="control-label" for="textarea2"></label>
										  <textarea ui-codemirror="cmOption_css" ng-model="theCss" ></textarea>


              </md-card>
      </md-tab>
 
			
			
		<md-tab ng-click="changeMoreTab(0)">
            <md-menu md-position-mode="target-right bottom" md-offset="0 10">
                <div ng-click="$mdOpenMenu($event)">
                    <span>More</span>
										<md-icon md-menu-align-target class="material-icons wi">keyboard_arrow_down</md-icon>
                </div>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="changeMoreTab(0)">
										<md-icon md-menu-align-target class="material-icons wi">photo</md-icon>
                            Images
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="changeMoreTab(1)">
										<md-icon md-menu-align-target class="material-icons wi">extension</md-icon>
                            Templates
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" >
														<md-icon md-menu-align-target class="material-icons wi">library_add</md-icon>
                            Add pages
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" >
														<md-icon md-menu-align-target class="material-icons wi">code</md-icon>
                            Add Library
                        </md-button>
                    </md-menu-item>
									        <md-menu-divider></md-menu-divider>
									 <md-menu-item>
                        <md-button ng-click="changeMoreTab(4)">
														<md-icon md-menu-align-target class="material-icons wi">help</md-icon>
                            Help
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
						<md-tab-body>

							

        <md-card style="height:100%; width:100%; margin:0;overflow:scroll;">
    
        <ng-switch on="selectedMoreTabIndex">
      <div ng-switch-when="0">
				

								      <md-list flex>
        <md-subheader class="md-no-sticky">Upload up to 5 images</md-subheader>
        <md-list-item class="md-1-line" ng-repeat="tab in imageList" ng-click="null">
          <img ng-src="./../pages/{{pageId}}/{{tab.name}}" class="md-avatar" alt="{{tab.name}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ tab.name }}</h3>
          </div>
				<md-button class="md-secondary md-icon-button" ng-click="removeTab(tab.name)"  aria-label="delete">
					<i class="material-icons" >delete</i>
          </md-button>
        </md-list-item>
				</md-list>
								
											
								<md-card-actions layout="row" layout-align="end center">					
									  <md-button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
          						accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"  name="test">          
											<md-icon class="material-icons">add</md-icon>
          						</md-button>
							</md-card-actions>
					</div>
					
					<div ng-switch-when="1">

					
			<md-list>		
  <md-subheader class="md-no-sticky">Choose a template</md-subheader>
  <md-list-item ng-repeat="template in templates">
    <p> {{ template.name }} </p>
    <md-checkbox class="md-secondary" ng-model="template.wanted" disabled></md-checkbox>
    <md-button class="md-secondary" ng-click="showConfirm(template.name, $event)">More</md-button>

  </md-list-item>					
					
					</md-list>
						
						
					</div>
					<div ng-switch-when="4">

						

						
  <md-content>
								      <md-list flex>
        <md-subheader class="md-no-sticky">HTML Hints</md-subheader>
												<md-list-item class="md-3-line" ng-repeat="item in htmlHints">
        <div class="md-list-item-text" >
          <h3>{{item.what}}</h3>
          <h4>{{item.who}}</h4>
          <p>{{item.notes}}</p>
        </div>
        <md-button class="md-secondary" ngclipboard data-clipboard-text="{{item.notes}}">	<md-icon class="material-icons">content_copy</md-icon></md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>



  <md-content>
								      <md-list flex>
        <md-subheader class="md-no-sticky">CSS Hints</md-subheader>
												<md-list-item class="md-3-line" ng-repeat="item in cssHints">
        <div class="md-list-item-text">
          <h3>{{item.what}}</h3>
          <h4>{{item.who}}</h4>
          <p>{{item.notes}}</p>
        </div>
        <md-button class="md-secondary"><md-icon class="material-icons">content_copy</md-icon></md-button>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
  </md-content>

						
						
						
					</ng-switch>
							
							</md-card>
			</md-tab-body>
        </md-tab>	
			
			
			
    </md-tabs>	
				
				
			</section>
			
  		<section flex >
				
				<md-fab-speed-dial md-direction="up" class="md-scale md-fab-bottom-right" ng-show="user.local">
			<md-fab-trigger>
				<!--md-button aria-label="menu" class="md-fab md-warn" ng-click="showAssignment($event)"-->
					<md-button aria-label="menu" class="md-fab md-warn"  ng-click="goPage()" target="_blank" >
						<i class="material-icons wi">open_in_new</i>
					</md-button>
			</md-fab-trigger>
			</md-fab-speed-dial>	

    <md-tabs md-stretch-tabs="auto"  md-border-bottom style=" width:100%;  min-height:100% !important; overflow: hidden !important;">
				<md-tab label="preview" style="height:100%; ">
      	<md-card  style="height:100%">
        <md-content class="" style="margin:0; height:100%; ">
          <div id="result"></div>
					<iframe id="preview"  ng-src="{{pagePath}}" style=""/>
        </md-content>
      </md-card>
				 </md-tab>
		</md-tabs>

			</section>
		</div>
  </md-content>
	</md-content>

</div>
   

